.floater {
	position:	absolute;
}

.candy{
	position:	relative;
	width:		100%;
}

.title {
	display: block;
	position: relative;
	margin:	auto;
	max-width:	90%
}

body{
	overflow: hidden;
	background-image: url("./Images/Water.jpg");
	background-size: cover;
}
