@font-face{
	font-family: 'chi';
	src: url('./fonts/candy2.ttf') format("truetype");
}

@font-face{
	font-family: 'wic';
	src: url('./fonts/WickedGrit.ttf') format("truetype");
}

@font-face{
	font-family: 'test';
	src: url('./fonts/testfont.otf') format("opentype");
}

.floater {
	position:	absolute;
}

.candy{
	position:	relative;
	width:		100%;
}

.title {
	display: block;
	position: relative;
	margin:	auto;
	max-width:	90%;
	font-family: 'chi';
}

body{
	overflow: hidden;
	background-image: url("./Images/Water.jpg");
	background-size: cover;
}
